/* **********************************************************
    Contact Section Styling
********************************************************** */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
} */
#contactUs{
    position: relative;
    width: 20%;
    object-fit: cover;
    padding: 40px 100px;
    margin-top: 60px;
    /* max-height: 160vh; */
    background: linear-gradient(90deg,#0e3959 0%,#0e3959 30%,#03a9f5 30%,#03a9f5 100%);
    margin-top: 115px;
  } 
  
  #contactUs .titleContact{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    
  }
  
  #contactUs .titleContact h2{
    color: #fff;
    font-weight: 500;
  }
  .boxContact .contact .imageContact{
    max-width: 100%;
    margin: 50px auto;
  }
   
  /*.formContact{
    grid-area: formc;
  }
  .infoc{
    grid-area: infoc;
  }
  .mapc{
    grid-area: mapc;
  }
  .contactt{
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.5);
  }
  .boxContact{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "formc infoc"
    "formc mapc";
    grid-gap: 20px;
    margin-top: 20px;
  }
  .contactt h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  .infoc{
    background: #0e3959;
  }
  .infoc h3{
    color: #fff;
  }
  .infoc .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .infoc .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
  }
  .infoc .infoBox div p{
    color: #fff;
    font-size: 1.1em;
  }
  .infoc .infoBox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
  }
  .sml{
    margin-top: 40px;
    display: flex;
  }
  .sml li{
    list-style: none;
    margin-right: 15px;
  }
  
  .sml li a{
    color: #fff;
    font-size: 2em;
    color: #ccc;
  }
  .sml li a:hover{
    color: rgb(243, 11, 173);
  }
  
  .mapc{
    padding: 0;
  }
  .mapc iframe{
    width: 100%;
    height: 100%;
  }
 
   */
/* // Media query for contact.html */


/* @media (max-width:991px){
  #contactUs{
    background: #03e9f5;
    padding: 20px;
    max-height: 360vh;
  }
  .boxContact{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
                      "formc"
                      "infoc"
                      "mapc";
  }
  .contactt{
    padding: 30px;
  }
  .mapc{
    min-height: 300px;
    padding: 0;
  }
  
}

@media (max-width:767px){
  #contactUs{
    background: #03e9f5;
    padding: 20px;
    max-height: 315vh;
  }

}


 */
