/* **********************************************************
    Contact Section Styling
********************************************************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&family=Ubuntu:wght@400;500;700&family=Work+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;
    background: linear-gradient(90deg,#0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 100%);
    max-height: 140vh;
}
.contactUs .title-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.contactUs .title-contact h2{
    color: #fff;
    font-weight: 500;
    
}
.box-contact .contact-card img{
    max-width: 600px;
    margin: 10px auto;
} 
.box-contact .contact-card p{
    text-align: justify;
    padding: 40px;
    font-size: 15px;
    font-family:'Poppins', sans-serif ;
    color: black;
 
}

.contact-card{
    grid-area: contact-card;
    text-align: center;
}
.info{
    grid-area: info;
}
.map{
    grid-area: map;
}
.contact{
    background: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}
.box-contact{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: 3fr 2fr; */
    grid-template-areas: 
    "contact-card info"
    "contact-card map";
    grid-gap: 20px;
    margin-top: 20px;
}
.box-contact .contact-card{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    object-fit: cover;
    overflow: hidden; 
    align-items: center;
    justify-content: center;
}
.contact h1{
    color: crimson;
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 8px;
    margin-top: 25px;
    
   
}
.contact h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}
.info{
    background: #0e3959;
    padding: 30px;
}
.info h3{
    color: #fff;
}
.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infoBox div p{
    color: #fff;
    font-size: 1.1em;
}
.info .infoBox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}
.sci{
    margin-top: 40px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-right: 15px;
}
.sci li a{
    color: #fff; 
    font-size: 2em;
    color: #ccc;
}
.sci li a:hover{
    color: crimson;
}
.map{
    padding: 0;
}
.map iframe{
    width: 100%;
    height: 100%;
}
/* Responsive */

@media (max-width:991px){
    .contactUs{
         background: #03a9f5;
         /* padding: 20px; */
         max-height: 360vh;
          
    }
    .contact-card img{
        max-width: 450px;
        max-height: 200px;
    } 
    .box-contact{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "contact-card"
        "info"
        "map";
    }
    .map{
        padding: 0;
        min-height: 300px;
    }
}
@media (max-width:667px){
    .contact-card img{
        max-width: 450px;
    } 
}
@media (max-width:468px){
    .contactUs{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 40px;
    }
    .contactUs .title-contact{
        font-size: 1.5em;
    }
    .contact-card img{
        max-width: 350px;
    }
}
